# Xcode
.DS_Store
xcuserdata/
*.xcuserstate
*.xcworkspace/

# Swift
build/
DerivedData/
*.swiftpm/

# CocoaPods
Pods/
*.lock
Manifest.lock

# Carthage
Carthage/Build/

# SPM (Swift Package Manager)
.build/

# Miscellaneous
.idea/
.vscode/
*.code-workspace
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Build products
*.o
*.~*
*.dSYM.zip
*.dSYM/
*.hmap
*.ipa
*.xcarchive
*.xctestrun

# Swift Package Manager
Package.resolved

